.login__wrap {
  background-image: url("../../assets/images/loginBg.jpg");
  height: 100vh;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-footer {
  border-radius: 8px;
}

.login {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 0;
}

.form {
    display: flex;
    flex-direction: column;
    
}

.login__inp {
    border-radius: 8px;
    padding: 6px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid orange;

    &:hover {
        // font-size: ;
    }
}

.card {
//   box-shadow: red 0px 7px 29px 0px;
  color: antiquewhite;
  background-color: rgb(147, 31, 31);
}

.login__btn {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px 10px 0;
  background-color: orange;
  color: rgb(82, 11, 11);
  transition: 0.3s;
  &:hover {
    background-color: orangered;
    color: rgb(235, 198, 129);
  }
}
