.sidebar__list {
  color: rgb(44, 43, 43);
  text-decoration: none;
  margin: 0 5px !important;
  &__item {
    border-radius: 5px;
    display: block;
  }
  &__link {
    display: flex;
  }
}

.sidebar__list__item.active {
  background-color: #f5dabe;
  color: #c3996b;
}
